<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.hiowner.jnauction">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".PermissionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".car.CarDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mypage.MyPagePopup"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:screenOrientation="portrait"/>
        <activity android:name=".car.popup.TenderPopup1"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:screenOrientation="portrait"/>
        <activity android:name=".car.popup.TenderPopup2"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:screenOrientation="portrait"/>
        <activity android:name=".car.popup.TenderPopupRe"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:screenOrientation="portrait"/>
        <activity android:name=".mypage.success.MySuccessListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mypage.purchase.MyPurchaseListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mypage.purchase.MyPurchaseDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mypage.success.MySuccessDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mypage.bid.MyBidActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mypage.bid.fragment.entire.EntireDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mypage.bid.fragment.top.TopDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".car.CarPictureActivity"/>
        <activity android:name=".util.TermSelectPopup"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:screenOrientation="portrait"/>
        <activity android:name=".util.DatePickerActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:screenOrientation="portrait"/>
        <activity android:name=".util.InsuranceHistoryActivity"
            android:screenOrientation="portrait"/>



        <service
            android:name=".util.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".util.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a6e5e30164138aa8ed70131b11e652496aec35ef" />
    </application>

</manifest>